# Виртуальное окружение (у каждого разработчика оно свое локальное)
.venv/
venv/
ENV/
env/

# Датасет (НИКОГДА не коммитим 4 ГБ картинок на GitHub, там лимит 100 МБ на файл!)
data/

# Кэш Python и временные файлы компиляции
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
.vscode/

# Веса обученных моделей (сохраняем локально)
*.pth
*.h5
*.ckpt
test_mask.png